* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

p {
    line-height: 1.6;
    font-size: 22px;
}
h1 {
    font-size: 72px;
}
h2 {
    font-size: 34px;
}
h3 {
    font-size: 30px;
}

/***************************** NAVBAR ****************************/
.nav {
    flex-basis: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid darkgrey;
    height: 70px;
    background-color: white;
    z-index: 1;
    width: 100%;
}
.nav nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
.nav-left  {
    display: flex;
    padding-right: 50px;
    flex-shrink: 1;
    flex-basis: 17%;
}
.tlc-name{
    line-height: .1;
    color: #0164B2;
    font-family: 'Bree Serif', serif;
    padding-left: 10px;
}

#logo-img {
    padding: 10px;
    flex-basis: auto;
    height: 60px;
    width: 60px;
}
.top-nav{
    flex-basis: 55%;
}
.top-nav ul {
    display: flex;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style-type: none;
    flex-basis: auto;
}
li a{
    text-decoration: none;
    color: #0164B2;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
/***************************** SIDE NAVBAR ****************************/
.side-nav{
    display: none;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    left: 0;
    top: 0 ;
    height: 100vh;
    width: 30%;
}
.side-nav ul{
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}
.side-nav li {
    padding: 10px;
    text-align: center;
}
.menu-close {
    display: block;
    text-align: right;
    padding: 10px;
}
.menu-close a{
    color: #0164B2;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}
.collapsed-menu {
    display: none;
}
.collapsed-menu img {
    width: 60px;
}

/***************************** HERO SECTION ****************************/
#hero {
    flex-basis: 100%;  
    background: linear-gradient(
        rgba(0, 29, 70, .6),
        rgba(0, 29, 70, .6)
        ),
        url("images/dogs.jpg");
    background-size: cover;
    height: 92vh;
    background-position: 50% 50%;
    position: relative;
    margin-top: 70px;
}
.hero-container {
    margin: 300px auto 100px;
    color: white;
    text-align: center;
    line-height: 20px;
}
.hero-container h1 {
    font-family: 'Bree Serif', serif;
    letter-spacing: 4px;
}
.hero-container-bottom { 
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    justify-items: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    letter-spacing: 1.5px;
}

/***************************** SIDEBAR SECTION ****************************/
.sidebar {
    flex-basis: 20%;
    padding: 75px;
    background-color: #5E3F75;
    color: white;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 1px;
}
.sidebar h3 {
    font-size: 24px;
}
.side {
    padding-top: 150px;
}


/***************************** INDEX CONTENT SECTION ****************************/
.content {
    flex-basis: 80%;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
}

#body_article{
    flex-basis: 100%;
    margin:auto;
    padding:10px;
    margin-bottom: 50px;
}
#body_article h2{
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}
.img_left{
    padding-right: 20px; 
    float: left;
}
.img_right{
    padding-left: 20px;
    float: right;
}


/***************************** ANIMALS CONTENT SECTION ****************************/
h2 {
    width: 100%;
    text-align: center;
}
.row  {
    display: grid;
    grid-template-columns: 30% 70%;
    border-bottom: 1px solid black
}
.img img{
    width: 95%;
    height: auto;
    padding: 20px;
    margin-top: 5px;
}
.info {
    padding: 20px;
}
.info p {
    margin: 5px;
}
/***************************** ADOPTION CONTENT SECTION ****************************/
h2, h3, .image-box, .iframe-box{
    text-align: center;
}
.image-box img {
    width: 40%;
    height: auto;
    margin: 20px;
}
.adoption-body p {
    padding: 30px 100px;
}
.iframe-box iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.iframe-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
/***************************** CONTACT US SECTION ****************************/
.content-contact {
    flex-basis: 80%;
    padding: 80px 20px 80px 80px;
    display: flex;
    flex-wrap: wrap;

}
.form-area {
    flex-basis: 75%;
}
.form-area form {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-gap: 38px;
}
.form-container {
    padding: 50px;
}
.form-area label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}
.email, .phone, .subject, .message {
    grid-column: span 2;
}
.form-area input, textarea {
    width: 100%;
    border: 2px solid #0164B2;
    font-size: 22px;
    padding: 10px;
}
.form-area input {
    height: 40px;
}
.form-area p {
    padding: 20px 55px 0;
    font-size: 20px;
}
.right-map-area {
    flex-basis: 25%;
    padding: 100px 20px;
    font-size: 20px;
}
.submit {
    grid-column: span 2;
    text-align: right;
}
.submit button {
    height: 40px;
    width: 20%;
    background-color: #0164B2;
    color: white;
    justify-content: right;
}
.map {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%;
}
.map iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/***************************** FOOTER SECTION ****************************/
footer {
    flex-basis: 100%;
    height: 35px;
    background-color: #0164B2;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
}


/***************************** MEDIA QUERIES ****************************/

@media (max-width: 1580px) {
    .nav-left {
        padding-right: 0;
    }
    .top-nav {
        flex-basis: 65%;
    }
    h3 {
        font-size: 30px;
    }
}

@media (max-width: 1285px) {
    .nav-left{
        flex-basis: 20%;
    }
    h3 {
        font-size: 28px;
    }
   .content, .content-contact {
        flex-basis: 77%;
   }
   .sidebar {
       padding-left: 30px;
       padding-right: 30px;
   }
   .sidebar p {
       font-size: 20px;
   }
   .sidebar h3{
       font-size: 22px;
   }
}

@media (max-width: 1108px) {
    .nav-left {
        flex-basis: 27%;
    }
    h2 {
        font-size: 30px !important;
    }
    h3 {
        font-size: 26px;
    }
    p{
        font-size: 20px;
    }
    
    .sidebar {
        flex-basis: 100%;
        padding: 0 50px;
        
    }
    .side {
        padding-top: 75px !important;
    }
    .sidebar h3 {
        font-size: 18px;
        margin: 0;
    } 
    .sidebar p {
        font-size: 16px;
        margin: 5px 10px;
        line-height: 20px;
    }
    .content, .content-contact {
        flex-basis: 100%;
        padding-top: 30px;
    }

    .row{
        grid-template-columns: 40% 60%;
    }
    .image-box img {
        width: 50%;
        min-width: 400px;
    }
}

@media (max-width: 847px) {
    p {
        font-size: 18px;
    }
    h1 {
        font-size: 60px !important;
    }
    h2 {
        font-size: 28px !important;
    }
    h3 {
        font-size: 22px !important;
    }
    .sidebar{
        display: none;
    }
    .content {
        padding-top: 125px;
    }
    #hero {
        height: 75vh;
    }
    .hero-container {
        margin: 200px auto 80px;
       
    }
    .row {
        grid-template-columns: 50% 50%;
    }
    .nav-left{
        flex-basis: 36%;
    }
    .top-nav {
        display: none;
    }
    .collapsed-menu {
        display: inherit;
        padding-top: 10px;
    }
    .content-contact {
        padding: 125px 50px 50px;
    }
    .form-area, .right-map-area {
        flex-basis: 100%;
    }
    .right-map-area {
        text-align: center;
    }
    .form-area input, textarea {
        font-size: 18px;
    }
    .adoption-body p {
        padding: 30px 50px;
    }
    footer {
        font-size: 18px;
    }
   

}
@media (max-width: 660px) {
    p {
        font-size: 16px;
    }
    h1 {
        font-size: 42px !important;
    }
    h2 {
        font-size: 24px !important;
    }
    h3 {
        font-size: 20px !important;
    }
    .nav-left {
        flex-basis: 53%;
    }
    .hero-container {
        margin: 50px auto 80px;
    }
    .hero-container-bottom {
        grid-template-columns: 100%;
    }
    .row {
        grid-template-columns: 100%;
    }
    .content, .content-contact {
        padding: 75px 25px;
    }
    .form-area form {
        grid-gap: 22px;
        
    }
    .form-area p, label{
        font-size: 18px;
    }
    .first-name, .last-name{
       grid-column: span 2;
    }
    .side-nav{
        width: 50%;
    }
    #body_article {
        padding: 0;
        margin-left: 25px;
        margin-right: 25px;
    }
    .image-box img {
        min-width: 150px;
    }
}

@media (max-width: 485px) {
    p {
        font-size: 16px;
    }
    h1 {
        font-size: 36px !important;
    }
    h2 {
        font-size: 20px !important;
    }
    h3 {
        font-size: 18px !important;
    }
    
    .nav-left {
        flex-basis: 78%;
    }
    .side-nav {
        width: 100%;
        background-color: rgba(0, 0, 0, 1);
    }
    #hero {
        height: 60vh;
    }
    .hero-container{
        margin-top: 25px;
    }
    .hero-container h1{
        margin: 25px 0 10px;
    }
    .hero-container-bottom h3{
        line-height: 1;
    }
    .img_left, .img_right {
        float: none;
        display: block;
        text-align: center;
        padding: 20px 0;
        margin: auto;
    }
    .submit button{
        min-width: 60px;
    }
    .nav nav {
        padding: 0;
    }
    .form-container{
        padding: 25px;
    }
    .form-area p {
        padding: 20px 25px 0;
        font-size: 18px;
    }
    .content{
        padding: 75px 16px;
    }
    #body_article {
        margin: 0;
    }
    #body_article p{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 380px) {
    p, footer {
        font-size: 14px;
    }
    h1 {
        font-size: 24px !important;
    }
    h2 {
        font-size: 18px !important;
    }
    h3 {
        font-size: 16px !important;
    }
    .adoption-body p {
        padding: 30px 25px;
    }
    .hero-container-bottom h3 {
        font-size: 15px !important;
    }
    .hero-container h2{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 332px) {
    .collapsed-menu {
        flex-basis: 25%;
    } 

    .img_left, .img_right {
        max-width: 80%;
    }
    .image-box img {
        max-width: 80%;
    }
    .tlc-name{
        display: none;
    }
}

@media (max-height: 760px){
    #hero {
        height: 600px;
    }
    .hero-container {
        margin: 150px auto 75px;
        
    }
    .nav-left{
        flex-basis: 30%;
    }
}

@media (max-height: 760px) and (max-width: 799px) {
    .tlc-name {
        display: none;
    }
}
@media (max-height: 760px) and (min-width: 1285px) and (max-width: 1320px) {
    .content-contact, .content {
        flex-basis: 79%;
    }
}